<div style="background-color: lightskyblue; height:40px; z-index:100; width:100%; opacity: 1;">
                        <span><a style="text-decoration:none; color:white; font-weight:bold; font-size:25px; margin-left:15px;" ng-href="#/">Congress Talking Points </a></span>
                        <span><a style="text-decoration:none; color:white; font-weight:bold; float: right; margin-right:7px" ng-href="#/main">Search</a></span>
                        <span><a style="text-decoration:none; color:white; font-weight:bold; float: right; margin-right:7px" ng-href="#/analytics">Analytics | </a></span>
                        <span><a style="text-decoration:none; color:white; font-weight:bold; float: right; margin-right:7px" ng-href="#/add">Add | </a></span>
</div>

<div style="margin-left: 20px;">

        <p style="font-size: 25px; font-weight: bold"> Speech Submission Form</p>

        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <form name="speechForm">
                        <div>
                        <md-input-container>
                                <label>Speaker</label>
                                <input ng-model="add.speech.speaker">
                        </md-input-container>
                        </div>
                        <div>
                        <md-input-container>
                                <label>Date</label>
                                <input ng-model="add.speech.date" type="date">
                        </md-input-container>
                        </div>
                        <div>
                        <md-input-container>
                                <label>Speaker's Party</label>
                                <input ng-model="add.speech.party">
                        </md-input-container>
                        </div>
                        <div>
                                <md-input-container style="width: 90%">
                                        <label>Speech Content</label>
                                        <textarea rows="10" ng-model="add.speech.speechcontent"/>
                                </md-input-container>
                        </div>
                        <div>
                                <md-button type="submit" ng-click="add.addSpeech()" ng-if="add.addButton">Add speech</md-button>
                        </div>

                </form>
        </md-content>

        <div class="basicDisplay" ng-show="add.displaySuccessMessage">
                <p>Your speech has been successfully uploaded</p>
                <div>
                        <md-button type="submit" ng-click="add.reset()">Add Another Speech</md-button>
                </div>

        </div>

</div>

