<div>

        <div class="header"> Congress Talking Points </div>

        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <div>
                        <p> Search Speeches </p>
                        <md-input-container>
                                <label>Speaker</label>
                                <input ng-model="search.speaker">
                        </md-input-container>

                        <md-input-container>
                                <label>Key Words</label>
                                <input ng-model="search.keywords">
                        </md-input-container>
                        <md-input-container>
                                <label>Speaker's Party</label>
                                <input ng-model="search.party">
                        </md-input-container>

                        <p> ...or just enter the speech ID </p>
                        <md-input-container>
                                <label>Speech ID</label>
                                <input ng-model="search.speechid">
                        </md-input-container>

                </div>
                <div>
                        <md-button type="submit" ng-click="main.search()">Find speeches</md-button>
                </div>

        </md-content>

        <div class="basicDisplay" ng-show="main.showSearch">
                <h3>Search Results</h3>
                <div ng-repeat="result in main.searchResults" ng-value="result"> 
                        <div><a ng-href="#/speech/{{result.id}}">{{result}}><a></div>
                <div>
        </div>

</div>
