<div style="background-color: lightskyblue; height:40px; z-index:100; width:100%; opacity: 1;">
                        <span><a style="text-decoration:none; color:white; font-weight:bold; font-size:25px; margin-left:15px;" ng-href="#/">Congress Talking Points </a></span>
                        <span><a style="text-decoration:none; color:white; font-weight:bold; float: right; margin-right:7px" ng-href="#/main">Search</a></span>
                        <span><a style="text-decoration:none; color:white; font-weight:bold; float: right; margin-right:7px" ng-href="#/analytics">Analytics | </a></span>
</div>

<div>

        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <div>
                        <p> Search Speeches </p>
                        <md-input-container>
                                <label>Speaker</label>
                                <input ng-model="main.query.speaker">
                        </md-input-container>

                        <md-input-container>
                                <label>Key Words</label>
                                <input ng-model="main.query.keywords">
                        </md-input-container>
                        <md-input-container>
                                <label>Speaker's Party</label>
                                <input ng-model="main.query.party">
                        </md-input-container>

                        <p> ...or just enter the speech ID </p>
                        <md-input-container>
                                <label>Speech ID</label>
                                <input ng-model="main.query.speechid">
                        </md-input-container>
                        <div>
                                <md-button type="submit" ng-click="main.search()">Find speeches</md-button>
                        </div>

                </div>

        </md-content>

        <div class="basicDisplay" ng-show="main.showSearch" style="margin-left: 20px">
                <h3>Search Results</h3>
                <div ng-if="main.noParams"><p>Please fill out at least one of the parameters </p></div>
                <div ng-if="main.searchResults.length===0"><p>No results found</p></div>
                <div ng-repeat="result in main.searchResults" ng-value="result">
                        <div style="border-left: 2px solid black; padding-left: 1em; background-color: aliceblue">
                                <a ng-href="#/speech/{{result.speech_id}}" style="text-decoration:none; color:black">
                                        <p style="font-weight:bold;">ID: {{result.speech_id}}<p>
                                        <div><p>Speaker: {{result.speaker_name}}</p> </div>
                                        <p>Affiliation: {{result.party_name}}</p> 
                                        <p>Date: {{result.date_said}}</p> 
                                        <p>Keywords: {{result.keywords.join(', ')}}</p>
                                <a>
                        </div>
                <div>
        </div>

</div>
