<div>

        <div class="header"> Congress Talking Points </div>
        
        <div> 
                <h3>{{speech.data.speaker}}</h3>
                <p>Speech ID: {{speech.data.speechid}}</p>
                <p>Party: {{speech.data.party}}</p>
                <p>Date: {{speech.data.date}}</p>
                <p>Sentiment:</p>
                <p>{{speech.data.sentiment}}</p>
                <p>Keywords:</p>
                <p>{{speech.data.keywords}}</p>
                <p>Speech:</p>
                <p>{{speech.data.text}}</p>

        </div>

</div>
